@model Potatotech.GestaoRestaurante.Web.ViewModels.ProdutoViewModel
@{
    ViewBag.Title = "Cadastrar";
}

<div class="x_panel">
    <div class="x_title">
        <h2>Cadastrar Produto</h2>

        <div class="clearfix"></div>
    </div>
    <div class="x_content">
    @using (Html.BeginForm())
    {
        <div class="form-group">
            @Html.LabelFor(p => p.TipoId)
            @Html.DropDownListFor(p => p.TipoId, Model.ListaTipoProduto, "Selecione", new { @class = "form-control" })
            @Html.ValidationMessageFor(p => p.TipoId)
        </div>
        <div class="form-group">
            @Html.LabelFor(p => p.Nome)
            @Html.TextBoxFor(p => p.Nome, new { @class = "form-control" })
            @Html.ValidationMessageFor(p => p.Nome)
        </div>
        <div class="form-group">
            @Html.LabelFor(p => p.Valor)
            @Html.TextBoxFor(p => p.Valor, new { @class = "form-control" })
            @Html.ValidationMessageFor(p => p.Valor)
        </div>
        <div class="form-group">
            @Html.LabelFor(p => p.Imposto)
            @Html.TextBoxFor(p => p.Imposto, new { @class = "form-control" })
            @Html.ValidationMessageFor(p => p.Imposto)
        </div>
        <div class="form-group">
            @Helper.Submit("Cadastrar Novo Produto", "btn btn-primary btn-block")
        </div>
    }
    </div>
</div>