@model Potatotech.GestaoRestaurante.Web.ViewModels.ProdutoViewModel

@{
    ViewBag.Title = "Listar";
}


<div class="x_panel">
    <div class="x_title">

        <div class="row">
            <div class="col-md-11">
                <h2>Lista Produto</h2>
            </div>
            <div class="col-md-1">
                <button type="button" class="btn btn-success" data-toggle="modal" data-target="#Cadastrar">
                    +
                </button>
            </div>
        </div>

    </div>
    <div class="x_content">
        <table class="table">
            <thead>
                <tr>
                    <th>Cod.</th>
                    <th>Nome</th>
                    <th>Valor</th>
                    <th>Imposto</th>
                    <th>Tipo do Produto</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var p in Model.Produtos)
                {
                    <tr>
                        <th>@p.Id</th>
                        <th>@p.Nome</th>
                        <th>@p.Valor</th>
                        <th>@p.Imposto</th>
                        <th>@p.TipoProduto.Nome</th>
                        <td>
                            <button onclick="produtoId.value = @p.Id" class="btn btn-primary" data-toggle="modal" data-target="#Editar">Editar</button>
                            <button onclick="produtoId.value = @p.Id " type="button" class="btn btn-danger editar" data-toggle="modal" data-target="#Deletar">Apagar</button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        @Html.Partial("_cadastrar")
        @Html.Partial("_editar")
        @Html.Partial("_deletar")
    </div>
</div>

