@model Potatotech.GestaoRestaurante.Web.ViewModels.ProdutoViewModel

@{
    ViewBag.Title = "Listar";
}


<div class="x_panel">
    <div class="x_title">

        <div class="row">
            <div class="col-md-11">
                <h2>Lista Produto</h2>
            </div>
            <div class="col-md-1">
                <button type="button" class="btn btn-success" data-toggle="modal" data-target="#Cadastrar">
                    +
                </button>
            </div>
        </div>
        <br />

    </div>
    <div class="x_content">
        @using (Ajax.BeginForm("Buscar", null, new AjaxOptions { HttpMethod = "get", UpdateTargetId = "tabela", InsertionMode = InsertionMode.Replace },
                new { @class = "form-inline", id = "formBusca" }))
        {
            <div class="row">
                <div class="col-md-3">
                    @Html.TextBoxFor(p => p.NomeBusca, new { @class = "form-control", placeholder = "Digite o nome" })
                </div>
                <div class="col-md-3">
                    @Html.DropDownListFor(p => p.IdBusca, Model.ListaTipoProduto, "Todos tipos de produto", new { @class = "form-control" })
                </div>
                <div class="col-md-3">
                    <input type="submit" value="Buscar" class="btn btn-primary" id="btnBusca" />
                </div>
            </div>
        }
        <hr />
        <table class="table table-hover">
            <thead class="row">
                <tr>
                    <th class="col-md-2">Cod.</th>
                    <th class="col-md-2">Nome</th>
                    <th class="col-md-2">Valor</th>
                    <th class="col-md-2">Imposto</th>
                    <th class="col-md-2">Tipo do Produto</th>
                    <th class="col-md-2">Ações</th>
                </tr>
            </thead>
            <tbody id="tabela">
                @Html.Partial("_tabela", Model.Produtos)
            </tbody>
        </table>
        @Html.Partial("_cadastrar")
        @Html.Partial("_editar")
        @Html.Partial("_deletar")
    </div>
</div>

@section scripts{
    <script>
        $().ready(function () {
            $(".edit").click(function () {
                $.ajax({
                    url: "http://localhost:8014/api/Produto/" + $(this).data("id"),
                    method: "GET",
                    success: function (data) {
                        $("#cd").val(data.Id);
                        $("#idTipo").val(data.TipoId);
                        $("#nome").val(data.Nome);
                        $("#valor").val(data.Valor);
                        $("#imposto").val(data.Imposto)
                    }
                })
            })

            $("#IdBusca").change(function () {
                $("#formBusca").submit();
            })
        })
    </script>
    
    }

