@model Potatotech.GestaoRestaurante.Web.ViewModels.TipoProdutoViewModel
@{
    ViewBag.Title = "Listar";
}

<div class="x_panel">
    <div class="x_title">

        <div class="row">
            <div class="col-md-9">
                <h2>Lista de Tipo de Produto</h2>
            </div>
            <div class="col-md-3">
                <button id="btnCadastrar">
                    <i class="fa fa-plus"></i> Cadastrar novo tipo de produto
                </button>
                <div id="modalCadastrar" class="modal">
                    <div class="modal-body">
                        <span class="close">x</span>
                        @using (Html.BeginForm("Cadastrar", "TipoProduto"))
                        {
                            <div class="form-group">
                                @Html.LabelFor(p => p.Nome)
                                @Html.TextBoxFor(p => p.Nome, new { @class = "form-control" })
                            </div>
                            <div class="form-group">
                                @Helper.Submit("Cadastrar Tipo de Produto", "btn btn-primary btn-block")
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>

    </div>
<div class="x_content">

    <table class="table">
        <thead>
        <tr>
            <th>Cod.</th>
            <th>Nome</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var tp in Model.TiposProduto)
        {
            <tr>
                <td>@tp.Id</td>
                <td>@tp.Nome</td>
            </tr>
        }
        </tbody>

    </table>
</div>
</div>

<script>
    var modal = document.getElementById('modalCadastrar');
    var btn = document.getElementById("btnCadastrar");
    var span = document.getElementsByClassName("close")[0];
    btn.onclick = function () {
        modal.style.display = "block";
    }
    span.onclick = function () {
        modal.style.display = "none";
    }
    window.onclick = function (event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }
</script>