@model Potatotech.GestaoRestaurante.Web.ViewModels.TipoProdutoViewModel
@{
    ViewBag.Title = "Listar";
}


<div class="x_panel">
    <div class="x_title">
        <div class="row">
            <div class="col-md-11">
                <h2>Lista de Tipo de Produto</h2>
            </div>
            <div class="col-md-1 ">
                <button type="button" class="btn btn-success" data-toggle="modal" data-target="#Cadastrar">
                    +
                </button>
            </div>
        </div>
    </div>
    <div class="x_context">
        <div class="row">
            @using (Ajax.BeginForm("Buscar", null, new AjaxOptions { HttpMethod = "get", UpdateTargetId = "tabela", InsertionMode = InsertionMode.Replace },
new { @class = "form-inline", id = "formulariobusca" }))
            {
                <div class="form-group">
                    @Html.TextBoxFor(p => p.NomeBusca, new { @class = "form-control", placeholder = "Digite o nome" })
                </div>
                <div class="form-group">
                    <input type="submit" id="btnBusca" , class="form-control btn btn-primary" value="Buscar" /> 
                </div>              
                
               
            }
        </div>
    <hr />
    <div class="x_context">
        <table class="table table-hover">
            <thead class="row">
                <tr>
                    <th class="col-md-5">Cod.</th>
                    <th class="col-md-5">Nome</th>
                    <th class="col-md-2">Ações</th>
                </tr>
            </thead>
            <tbody id="tabela">
                @Html.Partial("_tabela", Model.TiposProduto)
            </tbody>

        </table>
        @Html.Partial("_cadastrar")
        @Html.Partial("_editar")
        @Html.Partial("_deletar")

        </div>
    </div>
</div>




@section scripts{
    <script>
        $().ready(function () {
            $(".edit").click(function () {
                $.ajax({
                    url: "http://localhost:8014/api/TipoProduto/" + $(this).data("id"),
                    method: "GET",
                    success: function (data) {
                        $("#cod").val(data.Id);
                        $("#nm").val(data.Nome);
                    }
                })
            })
        })
    </script>
   
    
    }

