@model Potatotech.GestaoRestaurante.Web.ViewModels.TipoProdutoViewModel
@{
    ViewBag.Title = "Listar";
}


<div class="x_panel">
    <div class="x_title">

        <div class="row">
            <div class="col-md-11">
                <h2>Lista de Tipo de Produto</h2>
            </div>
            <div class="col-md-1">
                <button type="button" class="btn btn-success" data-toggle="modal" data-target="#Cadastrar">
                    +
                </button>
            </div>

        </div>

    </div>
    <div class="x_content">

        <table class="table">
            <thead>
                <tr>
                    <th>Cod.</th>
                    <th>Nome</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var tp in Model.TiposProduto)
                {
                    <tr>
                        <td>@tp.Id</td>
                        <td>@tp.Nome</td>
                        <td>
                            <button onclick="idTipoProduto.value = @tp.Id" class="btn btn-primary" data-toggle="modal" data-target="#Editar">Editar</button>
                            <button onclick="tipoProdutoId.value = @tp.Id " type="button" class="btn btn-danger editar" data-toggle="modal" data-target="#Deletar">Apagar</button>
                        </td>
                    </tr>
                }
            </tbody>

        </table>
        @Html.Partial("_cadastrar")
        @Html.Partial("_editar")
        @Html.Partial("_deletar")

    </div>
</div>

