@using System.Web.Optimization
@using Microsoft.AspNet.Identity
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>RestUrante</title>
    <!-- Bootstrap -->
    <link href="/Content/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="/Content/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- NProgress -->
    <link href="/Content/vendors/nprogress/nprogress.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/3.5.4/select2.min.css" />
    <!-- Custom Theme Style -->
    <link href="/Content/css/custom.min.css" rel="stylesheet">
    <link href="/Content/css/ajustes.css" rel="stylesheet">
    <link href="/Content/toastr.min.css" rel="stylesheet" />
    @RenderSection("Stylesheets", false)
</head>
<body class="nav-md">
    <div class="container body">
        <div class="main_container">
            @Html.Partial("_Sidebar")
            <!-- top navigation -->
            <div class="top_nav">
                <div class="nav_menu">
                    <nav>
                        <div class="nav toggle">
                            <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                        </div>
                        <ul class="nav navbar-nav navbar-right">
                            <li class="">
                                <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                    <!--<img src="images/img.jpg" alt="">--><i class="fa fa-align-justify"></i> @User.Identity.GetUserName()
                                    <span class="fa fa-angle-down"></span>
                                </a>
                                <ul class="dropdown-menu dropdown-usermenu pull-right">
                                    <li><a href="javascript:;"> Profile</a></li>
                                    <li>
                                        <a href="javascript:;">
                                            <span class="badge bg-red pull-right">50%</span>
                                            <span>Settings</span>
                                        </a>
                                    </li>
                                    <li><a href="javascript:;">Help</a></li>
                                    <li><a href="login.html"><i class="fa fa-sign-out pull-right"></i> Log Out</a></li>
                                    <li>@Html.ActionLink("Sair", "LogOut", "User", FormMethod.Post)</li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <!-- /top navigation -->
            <!-- page content -->
            <div class="right_col" role="main">
                <div class="">
                    <div class="clearfix"></div>
                    <!-- view do angularjs -->
                    @RenderBody()
                </div>
            </div>
            <!-- /page content -->
            <!-- footer content -->
            <footer>
                <div class="pull-right">
                    <!--Gentelella - Bootstrap Admin Template by <a href="https://colorlib.com">Colorlib</a>-->
                </div>
                <div class="clearfix"></div>
            </footer>
            <!-- /footer content -->
        </div>
    </div>
    <!-- jQuery -->
    <script src="/Content/vendors/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="/Content/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- FastClick -->
    <script src="/Content/vendors/fastclick/lib/fastclick.js"></script>
    <!-- NProgress -->
    <script src="/Content/vendors/nprogress/nprogress.js"></script>
    <!-- Ajax -->
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <!-- Custom Theme Scripts -->
    <script src="/Content/custom.min.js"></script>
    @Scripts.Render("/Scripts/toastr.min.js");
    @RenderSection("Scripts", false)
</body>
</html>